abi/
bin/
artifacts/
cache/
deployments/
coverage/
exports/
node_modules/
.history/
build/
.build
.env
.certora*
certora_*
coverage/
coverage.json
coverageEnv/
.DS_Store
.vscode
yarn-error.log
yarn.lock
.scencache
.solcache
.solcachecov
test/UseCase/